<div class="nested-fields">
  <div class="row">
    <div class="col-5">
      <div class="form-group">
        <%= f.label :材料 %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="col-5">
      <div class="form-group">
        <%= f.label :分量 %><br />
        <%= f.text_field :quantity, class: "form-control" %>
      </div>
    </div>
    <div class="mt-5">
      <%= link_to_remove_association '削除',f %>
    </div>
  </div>
</div>