<div class="row">
  <img src="top_img.jpg">
  <%#= image_tag () %>
</div>


<div class="row">
  <% recipe.each do |recipe| %>
    <div class="card-deck">
      <div class="card m-4 border-danger">
        <div class="card-body">
          <div class="card-img-top">
            <%= link_to recipe_path(recipe.id) do %>
              <%= image_tag recipe.get_image(200,133) %>
            <% end %>
          </div>
          <h5 class="card-title"><%= recipe.title %></h5>
          <p class="card-text">辛さレベル<%= recipe.hot_level %></p>
          <p class="card-text"><%= recipe.description %></p>
          <p class="card-text text-right text-secondary">by <%= recipe.user.name %></p>
        </div>
      </div>
    </div>
  <% end %>
  <%#= paginate recipe %>
</div>
