<div class="container">
  <h2>編集ページ</h2>
  <%= form_with(model: @recipe, url: recipe_path(@recipe.id), method: :patch) do |f| %>
    <h4>レシピタイトル</h4>
    <%= f.text_field :title %>
    <h4>料理画像</h4>
    <%= f.file_field :image, accept: "image/*" %>
    <h4>レシピについて</h4>
    <%= f.text_area :description %>
    <h4>所要時間</h4>
    <%= f.select :time, *[5..40] %>分
    辛さレベル<%= f.select :hot_level, *[1..5] %>
    ジャンル選択<%= f.select :genre_id , options_from_collection_for_select(Genre.all, :id, :name) %>

      <div id='materials'>
        <%= f.fields_for :materials do |material| %>
          <%= render 'material_fields', :f => material %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association '材料追加', f, :materials,
           data: {
            association_insertion_node: '#detail-association-insertion-point',
            association_insertion_method: 'after'
            } %>
        </div>
      </div>
    <div id="detail-association-insertion-point"></div>

    <div id='steps'>
      <%= f.fields_for :steps do |step| %>
        <%= render 'step_fields', :f => step %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'ステップ追加', f, :steps %>
        <!--# data: {-->
        <!--#   association_insertion_node: '#detail-association-insertion-point',-->
        <!--#   association_insertion_method: 'append'}-->

      </div>
    </div>
    <!--<div id="detail-association-insertion-point"></div>-->
    <%= f.submit '編集' %>

  <% end %>
</div>