<div class="container">
  <h3>レシピ一覧</h3>
  <div class="row">
    <% @recipe.each do |recipe| %>
      <%= recipe.title %>
      <%= link_to recipe_path(recipe.id) do %>
        <%= image_tag recipe.get_image(200,200) %>
      <% end %>
      <%= recipe.description %>
      by<%= recipe.user.name %>

      <% if current_user.already_book_mark?(recipe) %>
        <%= link_to recipe_book_marks_path(recipe), method: :delete do %>
          <i class="fas fa-heart"></i>
        <% end %>
        <%= recipe.book_marks.count %>
      <% else %>
        <%= link_to recipe_book_marks_path(recipe), method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
        <%= recipe.book_marks.count %>
      <% end %>
    <% end %>
  </div>
</div>