<div class="container">
  <h2>投稿ページ</h2>
  <%= form_with model: @recipe, url: recipes_path, method: :post do |f| %>
  <h4>レシピタイトル</h4>
  <%= f.text_field :title %>
  <h4>料理画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>レシピについて</h4>
  <%= f.text_area :description %>
  <h4>所要時間</h4>
  <%= f.select :time, *[5..40] %>分
  <% end %>
  <h4>材料</h4>
  <%= form_with model: @materials, url: recipes_path, method: :post do |f| %>
  <%= f.text_field :name %>
  <h4>分量</h4>
  <%= f.text_field :quantity %>
  <% end %>
  <h4>作り方</h4>
  <%= form_with model: @steps, url: recipes_path, method: :post do |f| %>
  ステップ<%= f.select :step_no, *[1..10] %>
  <%= f.text_area :content %>
  <%= f.file_field :image, accept: "image/*" %>

  ステップ<%= f.select :step_no, *[1..10] %>
  <%= f.text_area :content %>
  <%= f.file_field :image, accept: "image/*" %>

  ステップ<%= f.select :step_no, *[1..10] %>
  <%= f.text_area :content %>
  <%= f.file_field :image, accept: "image/*" %>

  ステップ<%= f.select :step_no, *[1..10] %>
  <%= f.text_area :content %>
  <%= f.file_field :image, accept: "image/*" %>

  ステップ<%= f.select :step_no, *[1..10] %>
  <%= f.text_area :content %>
  <%= f.file_field :image, accept: "image/*" %>

  <%= f.submit '投稿' %>
  <% end %>
</div>