<div class="container">
  <%= flash[:notice] %>

  <%= @recipe.title %>
  <%= image_tag @recipe.get_image(450,300) %>
  <h3>レシピについて</h3>
  <%= @recipe.description %>
  所要時間<%= @recipe.time %>分

  辛さレベル<%= @recipe.hot_level %>
  by<%= @recipe.user.name %>

  <% if @recipe.user_id == current_user.id %>
    <%= link_to 'レシピ編集', edit_recipe_path(@recipe.id), class: "btn btn-outline-success" %>
  <% end %>

  <%= link_to 'プロフィールへ', user_path(@recipe.user.id), class: "btn btn-outline-primary" %>

  <% if current_user.already_book_mark?(@recipe) %>
    <%= link_to recipe_book_marks_path(@recipe), method: :delete do %>
      <i class="fas fa-heart"></i>
    <% end %>
    <%= @recipe.book_marks.count %>
  <% else %>
    <%= link_to recipe_book_marks_path(@recipe), method: :post do %>
      <i class="far fa-heart"></i>
    <% end %>
    <%= @recipe.book_marks.count %>
  <% end %>
  <table class="table">
    <tr>
      <th>材料</th>
      <th>分量</th>
    </tr>
    <tr>
      <% @recipe.materials.each do |recipe| %>
      <td>
        <%= recipe.name %>
      </td>
      <td>
        <%= recipe.quantity %>
      </td>
    </tr>
    <% end %>
  </table>
  <h3>作り方</h3>
  <table class="table">
    <% @recipe.steps.each do |recipe| %>
      <tr>
        <th>
          <%= recipe.step_no %>
        </th>
        <th>
          <%= recipe.content %>
        </th>
        <% recipe.images.each do |image| %>
        <th>
          <%= image_tag image, size:"200x200" %>
        </th>
      </tr>
      <% end %>
    <% end %>
  </table>
  <%= link_to 'つくれぽを投稿', new_recipe_report_path(@recipe) %>

</div>