<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col-10">
      <%= image_tag user.page_image(700, 200), class: "w-100", style: "height: 200px;" %>
    </div>
  </div>
  <div class="row">
    <div class="col-3 mx-auto">
      <%= image_tag user.user_image(120,120) %>
    </div>
    <div class="col-8">
      <div class="text-center", style= "padding-top: 50px;">
        <%= user.name %>さんのマイページ
        <%= link_to '投稿したレシピ', user_recipes_path(user.id) %>
      </div>
    </div>
  </div>

  <p class="text-small">
    <%= link_to user.followings.count, followings_user_path(user) %> フォロー <%= link_to user.followers.count, followers_user_path(user) %> フォロワー
  </p>

  <% if user == current_user && user.name != "ゲスト" %>
    <div class="row">
      <div class="col-4">
        <%= link_to user_edit_path(user.id) do %>
          プロフィール編集<i class="fas fa-user-edit"></i>
        <% end %>
      </div>
      <div class="col-4">
        <%= link_to new_recipe_path do %>
          レシピを投稿する<i class="fas fa-pencil-alt"></i>
        <% end %>
      </div>
      <div class="col-4">
        <%= link_to book_marks_users_path do %>
          お気に入り<i class="far fa-bookmark"></i>
        <% end %>
      </div>
    </div>
  <% else %>
    <% if user.is_followed_by?(current_user) %>
      <%= link_to user_relationships_path(user), method: :delete do %>
        <button class="btn btn-outline-danger">フォロー解除</button>
      <% end %>
    <% else %>
      <%= link_to user_relationships_path(user), method: :post do %>
        <button class="btn btn-outline-primary">フォロー</button>
      <% end %>
    <% end %>
  <% end %>
</div>
