<div class="container">
  <% if @user.errors.any? %>
    <%= @user.errors.count %>件のエラーが発生しました
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
  <div>
    <%= f.file_field :image, accept: "image/*" %>
    <%= image_tag @user.page_image(800, 200) %>
  </div>
  <div>
    <%= f.file_field :image, accept: "image/*" %>
    <%= image_tag @user.user_image(150, 150) %>
  </div>
  <h3>ニックネーム</h3>
  <%= f.text_field :name %>
  <%= f.submit "保存する" %>
  <% end %>
</div>