<div class="container">
  <%= form_tag(users_path, :method => "get") do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" ,:username => nil ,class: "button is-info"%>
  <% end %>

  <tabel class="tabel">
    <% @users.each do |user| %>
      <tr>
        <%= user.name %>
        <%= image_tag.user.user_image %>
      </tr>
    <% end %>
  </tabel>
<%= paginate users %>
</div>
