<div class="container">
  <div class="row">
    <%= image_tag @user.page_image(800, 200) %>
  </div>
   <%= image_tag @user.user_image(100,100) %>
  <%= @user.name %>さんのマイページ
  <%= link_to 'プロフィールを編集する', user_edit_path(@user.id), class: "btn btn-primary" %>

  <%= link_to 'レシピを投稿する', new_recipe_path %>
  <%= link_to '投稿したレシピ', user_recipes_path(@user.id) %>
  <%= link_to 'お気に入り', book_marks_users_path %>
</div>