<div class="container">
  <% if @range == "Recipe" %>
    <h2>検索結果 "<%= @keyword %>"</h2>
      <% @recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe.id) do %>
          <%= image_tag recipe.get_image(200,200) %>
        <% end %>
        <%= recipe.description %>
        <%= recipe.user.name %>
      <% end %>
  <% else %>
    <h2>検索結果 "<%= @keyword %>"</h2>
    <tabel class="tabel">
      <tr>
        <% @users.each do |user| %>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.user_image(200,200) %>
          <% end %>
          <%= user.name %>
        <% end %>
      </tr>
    </tabel>
  <% end %>
</div>