<div class="container">
  <% if @range == "Recipe" %>
    <% if @recipes.present? %>
      <h2>検索結果 "<%= @keyword %>"</h2>
      <%= render "/recipes/recipe", recipe: @recipes %>
    <% end %>

  <% else %>
  <h2>検索結果 "<%= @keyword %>"</h2>
    <table class="table">
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.user_image(200,200) %>
            <% end %>
            <%= user.name %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>