<div class="container">
  <h3>
    <%= @user.name %>さんのレシピ一覧
  </h3>
  <% @recipe.each do |recipe| %>
  <table class="table">
    <tr>
      <td>
        <%= link_to admin_recipe_path(recipe.id) do %>
          <%= image_tag recipe.get_image(200,200) %>
        <% end %>
        <%= recipe.title %>
        <%= recipe.description %>
      </td>
      <td>
        <%= link_to "削除", admin_recipe_path(recipe.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </td>
    </tr>
  </table>
  <% end %>
</div>