<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <% if @report.errors.any? %>
        <%= @report.errors.count %>件のエラーが発生しました
        <ul>
          <% @report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <h3>つくれぽ投稿</h3>
      <%= form_with(model: [@recipe, @report], url: recipe_reports_path, method: :post) do |f| %>
        <div class="form-group">
          <%= f.label :完成画像 %><br />
          <%= f.file_field :image, accept: "image/*" %>
        </div>

        <div class="form-group">
          <%= f.label :レポート %>
          <%= f.text_area :content, class: "form-control" %>
        </div>

        <div class="form-group">
          <%#= f.hidden_field :recipe_id, value: @recipe.id %>
          <%= f.submit '投稿', class: "btn btn-outline-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>