<!DOCTYPE html>
<html>
  <head>
    <title>RED</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <% if admin_signed_in? %>
            <%= link_to admin_root_path, class: "navbar-brand" do %>
              <h1>RED RECIPE</h1>
            <% end %>
          <% else %>
            <%= link_to root_path, class: "navbar-brand" do %>
              <h1>RED RECIPE</h1>
            <% end %>
          <% end %>

          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.select :range, options_for_select([['User'], ['Recipe']]) %>
            <%= f.text_field :keyword, placeholder: 'キーワード検索' %>
            <%= f.submit "検索" %>
          <% end %>

          <% if admin_signed_in? %>
            <%= render '/layouts/admin_header' %>
          <% elsif user_signed_in?%>
            <%= render '/layouts/user_header' %>
          <% else %>
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-outline-danger" %>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-danger" %>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-danger" %>
          <% end %>
          </header>
    <%= yield %>
  </body>
</html>
