<!DOCTYPE html>
<html>
  <head>
    <title>RED</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to root_path, class: "navbar-brand" do %>
            <h1>RED RECIPE</h1>
          <% end %>

          <%= form_with model: @recipe, url: search_recipes_path, local: true, method: :get do |f| %>
          <%= f.text_field :keyword %>
          <%= f.submit "検索" %>

          <% end %>

          <% if user_signed_in? %>
            <div>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
            </div>
            <div>
              <%= link_to "マイページ", my_page_path, class: "btn btn-outline-danger" %>
            </div>
          <% else %>
            <div>
              <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-outline-danger" %>
            </div>
            <div>
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-danger" %>
            </div>
            <div>
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-danger" %>
            </div>

          <% end %>
          </header>
    <%= yield %>
  </body>
</html>
